<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
    </style>
</head>

<body>

    <div class="book-cont">


        <h1 class="heading">
            Booking details and Menu offers
        </h1>

        <div class="booking-container">
            <div class="book-img">
                <img src="hunt man.jpg" alt="">
            </div>

            <div class="book-form">
                <div class="cont flex">

                    <label for="">Last Name</label>
                    <input class="book-filed" type="text">
                </div>
                <div class="cont flex">

                    <label for="">Phone</label>
                    <input class="book-filed" type="number">
                </div>


                <div class="cont flex">

                    <label for="">First Name</label>
                    <input class="book-filed" type="text">
                </div>

                <div class="cont flex">

                    <label for="">E-Mail</label>
                    <input class="book-filed" type="email">
                </div>
                <div class="cont flex">

                    <label for="day">Day</label>
                    <input type="date" id="day" name="day">
                </div>
                <div class="cont flex">

                    <label for="time">Time</label>
                    <input type="text" id="time" name="time">
                </div>


                <div class="btn">
                    <button>next</button>
                </div>
            </div>

        </div>

    </div>
</body>

<style>
   
</style>

</html>